{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Галерея</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
    <div class="info">
        <img src="static/image/avatar.jpg" alt="тут моя фотка" class="avatar" />

        <div class="info-text">
            <h1>Данила Кузнецов</h1>
            <p>Это блог<strong> Данилы Кузнецова</strong></p>
            <p>Я люблю путешестовать, заниматься спортом и программировать</p>

            <h4>Мои социальные сети</h4>

            <a href="" target="_blank">Instagram</a>
            |
            <a target="_blank" href="">Telegram</a>
        </div>

    </div>

    <div class="card bg-green">
        <h2>Мои фотографии</h2>
        <table class="table">
            <tr>
                <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
                <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
              <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
            </tr>
            <tr>
                <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
              <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
              <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
            <tr>
                <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
              <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
              <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
            <tr>
                
              <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
              <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
              <td><img src="static/image/picture.jpg" alt="повидать весь мир" class="avatar" /></td>
        </table>
    </div>






  

    <div class="card bg-red">
        <h2>Будет интересно</h2>
        <ul class="link-list">
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                <a href="meets.html">Мероприятия и даты</a>
            </li>
        </ul>
    </div>

    <div class="contact">
        <h2>Связаться со мной</h2>

        <form action="/">
            <div class="row">
                <div class="form-group">
                    <label for="name">Ваше имя:</label>
                    <input type="text" id="name" placeholder="Введите ваше имя...">
                </div>

                <div class="form-group">
                    <label for="email">Ваш email:</label>
                    <input type="email" id="email" placeholder="Введите email...">
                </div>
            </div>

            <div class="form-group">
                <label for="text">Вашe сообщение:</label>

                <textarea id="text" rows="2" cols="15"></textarea>
            </div>

            <input class="btn" type="submit" value="Связаться!">
        </form>
    </div>


    <div class="position">
        <div class="box"></div>
    </div>
</div>



<div style="margin-bottom: 500px;;"></div>
</body>
</html>
