{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>DANILA KUZNETSOV</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

<div class="container">
    <div class="info">
        <img src="static/image/avatar.jpg" alt="тут моя фотка" class="avatar"/>

        <div class="info-text">
            <h1>Данила Кузнецов</h1>
            <p>Это блог<strong> Данилы Кузнецова</strong></p>
            <p>Я люблю путешестовать, заниматься спортом и программировать</p>

            <h4>Мои сети</h4>

            <a href="https://github.com/Drebedenb" target="_blank">GitHub</a>
            |
            <a target="_blank" href="https://vk.com/danila_kuzya">Вконтакте</a>
        </div>
    </div>

    <div class="card bg-yellow">
        <h2>Мои хобби</h2>
        <ol class="list">
            <li>Спорт</li>
            <li>Чтение умных (и не очень) книг</li>
            <li>Решать матанализ</li>
            <li>Путешествия</li>
        </ol>
    </div>


    <div class="card bg-green">
        <h2>Мои посты</h2>
        <table class="table">
            <tr>
                <td>Болгария</td>
                <td>Туда-и-обратно</td>
                <td>30.02.2022</td>
            </tr>
            <tr>
                <td>Турция</td>
                <td>Туда-и-обратно</td>
                <td>30.01.2022</td>
            </tr>
            <tr>
                <td>Как я стал писать блог?</td>
                <td>Карьера</td>
                <td>17.01.2022</td>
            </tr>
            <tr>
                <td>Борьба с шумом</td>
                <td>Повседневная жизнь</td>
                <td>01.01.2022</td>
            </tr>
        </table>
    </div>


    <div class="card bg-red">
        <h2>Будет интересно</h2>
        <ul class="link-list">
            <li>
                <a href="album.html">Галерея</a>
            </li>
            <li>
                <a href="meets.html">Мероприятия и даты</a>
            </li>
            <li>
                <a href="create.html">Записать мероприятие в БД</a>
            </li>
        </ul>
    </div>


    <div class="card bg-yellow">
        <form class="imagesArea horizontal wide" id="feedbackForm">
            <div class="imagesArea vertical">
                <div align="center">
                    <label for="userName"><h2>Your name</h2></label><input type="text" class="inputFields" id="userName"
                                                                           name="name" maxlength="20" required>
                    <h2>Your email</h2><label for="userEmail"></label><input type="email" class="inputFields"
                                                                             id="userEmail"
                                                                             required>
                    <h2>Your message</h2><textarea rows="12" class="inputFields" id="userMessage" minlength="20"
                                                   required></textarea>
                    <button id="submitButton"><h2>Submit</h2></button>
                </div>
            </div>
        </form>
    </div>


    <script>
        let form = document.getElementById("feedbackForm")
        form.addEventListener("submit", e => {
            e.preventDefault();

            const token = "5161980504:AAGdy6Q59if3Nb0XtUK8AmlZt3RG1x0TYjs";
            const chatId = "-614399438";

            let email = document.getElementById("userEmail").value;
            let name = document.getElementById("userName").value;
            let message = document.getElementById("userMessage").value;
            let msg = "New feedback \n Name:" + name + " " + " Email: " + email + "\nMessage: " + message;
            let z = $.ajax({
                type: "POST",
                url: "https://api.telegram.org/bot" + token + "/sendMessage?chat_id=" + chatId,
                data: "parse_mode=html&text=" + msg,
            });
            console.log("Message succesfully sended!");

            document.getElementById("userEmail").value = '';
            document.getElementById("userName").value = '';
            document.getElementById("userMessage").value = '';
        });
    </script>
</div>
</body>
</html>
